.header{
   padding: 15px 0px;
   background-color: var(--color-elements);
   box-shadow: var(--shadow);
   &_title {
      font-size: 36px;
      color: inherit;
   }
   &_container{
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   &_switcher{
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      user-select: none;
   }
}